%div{id: "task_board"}
  %h1 Awesome tasker
  %div{id: "tasks"}
    = render @tasks
  %div{id: "new_tasks"}
    = simple_form_for Task.new, remote: true, class: "form-inline" do |f|
      = f.input :text, label: false
      = f.submit
